In [1]:
!pip install pandas==1.3.3
!pip install requests==2.26.0
!mamba install bs4==4.10.0 
!mamba install html5lib==1.1
!pip install lxml==4.6.4
!pip install plotly==5.3.1

import pandas as pd
import requests
from bs4 import BeautifulSoup

Requirement already satisfied: pandas==1.3.3 in c:\users\admin\anaconda3\lib\site-packages (1.3.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas==1.3.3) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas==1.3.3) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas==1.3.3) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas==1.3.3) (1.15.0)
Requirement already satisfied: requests==2.26.0 in c:\users\admin\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests==2.26.0) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from requests==2.26.0) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests==2.26.0) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests==2.26.0) (2020.12.5)


0 examples ran in 0.0000 seconds


0 examples ran in 0.0000 seconds
Requirement already satisfied: lxml==4.6.4 in c:\users\admin\anaconda3\lib\site-packages (4.6.4)
Requirement already satisfied: plotly==5.3.1 in c:\users\admin\anaconda3\lib\site-packages (5.3.1)
Requirement already satisfied: six in c:\users\admin\anaconda3\lib\site-packages (from plotly==5.3.1) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\admin\anaconda3\lib\site-packages (from plotly==5.3.1) (8.0.1)

In [2]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
html_data = requests.get(url).text

In [3]:
soup = BeautifulSoup(html_data,"html5lib")

In [4]:
gme_revenue = pd.DataFrame(columns = ["Date", "Revenue"])
gme_body = soup.find_all("tbody")[1]

for row in gme_body.find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text.replace("$", "").replace(",", "")

    gme_revenue = gme_revenue.append({"Date": date, "Revenue": revenue}, ignore_index = True)

In [5]:
gme_revenue.dropna(inplace = True)

gme_revenue = gme_revenue[gme_revenue["Revenue"] != ""]

gme_revenue.tail(5)

          Date Revenue
57  2006-01-31    1667
58  2005-10-31     534
59  2005-07-31     416
60  2005-04-30     475
61  2005-01-31     709