In [1]:
!pip install pandas==1.3.3
!pip install requests==2.26.0
!mamba install bs4==4.10.0 
!mamba install html5lib==1.1
!pip install lxml==4.6.4
!pip install plotly==5.3.1

import pandas as pd
import requests
from bs4 import BeautifulSoup

Requirement already satisfied: pandas==1.3.3 in c:\users\admin\anaconda3\lib\site-packages (1.3.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas==1.3.3) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas==1.3.3) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas==1.3.3) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas==1.3.3) (1.15.0)
Requirement already satisfied: requests==2.26.0 in c:\users\admin\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\anaconda3\lib\site-packages (from requests==2.26.0) (2020.12.5)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\anaconda3\lib\site-packages (from requests==2.26.0) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\admin\anaconda3\lib\site-packages (from requests==2.26.0) (1.26.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from requests==2.26.0) (2.0.12)


0 examples ran in 0.0000 seconds


0 examples ran in 0.0000 seconds
Requirement already satisfied: lxml==4.6.4 in c:\users\admin\anaconda3\lib\site-packages (4.6.4)
Requirement already satisfied: plotly==5.3.1 in c:\users\admin\anaconda3\lib\site-packages (5.3.1)
Requirement already satisfied: six in c:\users\admin\anaconda3\lib\site-packages (from plotly==5.3.1) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\admin\anaconda3\lib\site-packages (from plotly==5.3.1) (8.0.1)

In [2]:
url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
html_data = requests.get(url).text

Parse the html data using `beautiful_soup`.

In [3]:
soup = BeautifulSoup(html_data, "html5lib")

Using `BeautifulSoup` or the `read_html` function extract the table with `Tesla Quarterly Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [4]:
tesla_revenue = pd.DataFrame(columns = ['Date', 'Revenue'])
tesla_body = soup.find_all("tbody")[1]

for row in tesla_body.find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text.replace("$", "").replace(",", "")

    tesla_revenue = tesla_revenue.append({"Date": date, "Revenue":revenue}, ignore_index = True)

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [5]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

<ipython-input-5-2aef5327de36>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

Execute the following lines to remove an null or empty strings in the Revenue column.

In [6]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [7]:
tesla_revenue.tail(5)

          Date Revenue
45  2010-09-30      31
46  2010-06-30      28
47  2010-03-31      21
49  2009-09-30      46
50  2009-06-30      27